<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Geolocalisation BS</title>
        <style>
		body {
			<!--background-image: url("static/plan.png");
			background-position: center;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
		}
		contenu {
			background-size: contain
			
			x:0 y:0 pour le point
			bottom: 133px
			left: 126px
			
			-->
		}
		.contenu {
			position: relative;
		}
		.dot {
			position: absolute;
			bottom: {{bottom}};
			left: {{left}};
			height: 25px;
            width: 25px;
			background-color: red;
			display: inline-block;
		}
		</style>
    </head>

    <body>
		<div class="contenu">
			<img src="static/plan-cropped.png">
			<span class="dot"></span>
        </div>
    </body>
</html>
