<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Geolocalisation BS</title>
		<style>
			.contenu {
				position: relative;
			}
			.dot {
				position: absolute;
				height: 25px;
				width: 25px;
				background-color: red;
				display: inline-block;
			}
			.balise {
				position: absolute;
				height: 25px;
				width: 25px;
				background-color: blue;
				border-radius: 50%;
				display: inline-block;
			}
			.nb {
				position: absolute;
				color: white;
			}
			.rssi {
				position: absolute;
				color: purple;
				text-shadow: 2px 2px 3px #a0a0a0;
			}
		</style>
		<script>
			// Send a request to the server asking for the position
			function sendRequest() {
				var xmlhttp = new XMLHttpRequest();

				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState == XMLHttpRequest.DONE) {
						if (xmlhttp.status == 200) {
							var coor = JSON.parse(xmlhttp.responseText);
							updatePosition(coor['x'], coor['y'], 'dot');
						}	else {
							console.log('A problem occured during AJAX requesting');
						}
					}
				};

				xmlhttp.open("GET", "/getPosition", true);
				xmlhttp.send();
			}

			// Refresh position every 2 seconds
			var intervalID = window.setInterval(refreshPosition, 2000);
			function refreshPosition() {
				sendRequest();
			}

			// Update XBee icon position on the map
			function updatePosition(x, y, id, rssis={}) {
				console.log('x: '+x+', y: '+y);
				x = String(126 + x * 122)+'px';
				y = String(133 + y * 122)+'px';
				document.getElementById(id).style.left = x;
				document.getElementById(id).style.bottom = y;

				for (var key in rssis) {
					if (rssis.hasOwnProperty(key)) {
						document.getElementById('b'+key).innerHTML = x;
					}
				}
			}

			window.onload = function() {
				updatePosition({{x}}, {{y}},'dot');
				updatePosition(0.9, 0.1,'BALISE_1');
				updatePosition(4.9, 0.1,'BALISE_2');
				updatePosition(1.2, 6.7,'BALISE_3');
				updatePosition(6.2, 6.7,'BALISE_4');
				updatePosition(-0.2, 3.4,'BALISE_5');
			}
		</script>
	</head>

	<body>
		<div class="contenu">
			<img src="static/plan-cropped.png">
			<span class="dot" id="dot"></span>
			<span class="balise" id="BALISE_1"></span>
			<span class="balise" id="BALISE_2"></span>
			<span class="balise" id="BALISE_3"></span>
			<span class="balise" id="BALISE_4"></span>
			<span class="balise" id="BALISE_5"></span>

			<span class="nb" id="nb1" style="left: 250px; bottom: 21px">1</span>
			<span class="nb" id="nb2" style="left: 740px; bottom: 21px">2</span>
			<span class="nb" id="nb3" style="left: 288px; bottom: 826px">3</span>
			<span class="nb" id="nb4" style="left: 897px; bottom: 826px">4</span>
			<span class="nb" id="nb5" style="left: 117px; bottom: 424px">5</span>
			<span class="rssi" id="b1" style="left: 280px; bottom: 24px">0</span>
			<span class="rssi" id="b2" style="left: 770px; bottom: 24px">0</span>
			<span class="rssi" id="b3" style="left: 315px; bottom: 829px">0</span>
			<span class="rssi" id="b4" style="left: 926px; bottom: 829px">0</span>
			<span class="rssi" id="b5" style="left: 145px; bottom: 425px">0</span>
		</div>
	</body>
</html>
